@use '../abstracts/' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $primary-font;
  color: $primary-color;
  font-weight: 400;
}

a {
  color: $highlight-color;
  text-decoration: none;
}

h {

  &1 {
    font-family: $bold-font;
  }
}

* {
  box-sizing: border-box;
}

.strong {
  font-weight: 600;
}