// VARIABLES

// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Colours
$primary-color: #262322; // Raisin Black
$complementary-color: #379634; // Slimy Green
$highlight-color: #FF1053; // Radical Red
$main-white: #FFFFFF;

// Typeface
$logo-font: 'Oswald', Trebuchet MS, sans-serif;
$bold-font: 'Roboto Slab', Garamond, serif;
$primary-font: 'Rubik', Courier New (monospace), serif;
$mixel-font: 'Shadows Into Light', Brush Script MT, cursive;